@page "/expenses"
@attribute [Authorize(Roles = "Customer")]

@using FinanceDashboard.Shared.DTO;
@using FinanceDashboard.Client.Authentication;
@using FinanceDashboard.Server.Model;
@using FinanceDashboard.Shared;
@using System.Net.Http.Headers;
@using FinanceDashboard.Shared.Models;
@using Newtonsoft.Json;
@using System.Text.Json;
@using System.ComponentModel.DataAnnotations;
@using System.ComponentModel;
@using Radzen;
@using FinanceDashboard.Shared.DTO.Expense;

@inject HttpClient Http
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navManager
@inject Radzen.NotificationService NotificationService


<h1>Expenses</h1>

<RadzenButton Style="margin-bottom:8px; margin-top:5px;" Visible="_visibleButton" ButtonStyle="ButtonStyle.Secondary" Shade="Shade.Dark" Text="Add Expense" Click="ShowForm"></RadzenButton>

<div class="add-record-form">
    <RadzenTemplateForm TItem="CreateRequest" Data=@model Submit=@OnSubmit Visible="_visibleForm">
        <RadzenStack Gap="1rem" Class="rz-px-0 rz-py-12">
            <RadzenFormField Text="Date" Variant="@variant">
                <ChildContent>
                    <RadzenDatePicker Name="Date" @bind-Value="@model.Date" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="Date" Text="Date is required." />
                </Helper>
            </RadzenFormField>

            <RadzenFormField Text="Description" Variant="@variant">
                <ChildContent>
                    <RadzenTextBox Name="Description" @bind-Value="@model.Description" />
                </ChildContent>
            </RadzenFormField>

            <RadzenFormField Text="Category" Variant="@variant">
                <ChildContent>
                    <RadzenDropDown Name="ExpenseCategory" @bind-Value="@model.ExpenseCategoryId" Data=@categories TextProperty="Name" ValueProperty="Id" />
                </ChildContent>
                <Helper>
                    <RadzenCustomValidator Component="ExpenseCategory" Validator="@(() => ValidateCategoryId(model.ExpenseCategoryId))" Text="Category is required." />
                </Helper>
            </RadzenFormField>

            <RadzenFormField Text="Amount" Variant="@variant">
                <ChildContent>
                    <RadzenNumeric ShowUpDown="false" Name="Amount" @bind-Value="@model.Amount" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="Amount" Text="Amount is required." />
                </Helper>
            </RadzenFormField>

            <RadzenFormField Text="Currency" Variant="@variant">
                <ChildContent>
                    <RadzenDropDown Name="Currency" @bind-Value="@model.CurrencyId" Data=@currencies TextProperty="Name" ValueProperty="Id" />
                </ChildContent>
                <Helper>
                    <RadzenCustomValidator Component="Currency" Validator="@(() => ValidateCurrencyId(model.CurrencyId))" Text=" Currency is required." />
                </Helper>

            </RadzenFormField>
            <RadzenButton ButtonStyle="ButtonStyle.Primary" Shade="Shade.Light" ButtonType="Radzen.ButtonType.Submit" Text="Submit"></RadzenButton>
            <RadzenButton Click="CloseForm" ButtonStyle="ButtonStyle.Primary" Shade="Shade.Lighter" Text="Cancel"></RadzenButton>
        </RadzenStack>
    </RadzenTemplateForm>
</div>

<Table Responsive="true" DataSource="listOfData" TItem="ExpenseData" RowClassName="@(_=>"editable-row")" Bordered TableLayout="fixed">
     <ChildContent Context="data">
         <PropertyColumn Property="c => c.Date" Title="Date" Sortable>
            @if (!editCache[data.Id].edit)
            {
                @data.Date.ToString("D")
            }
            else
            {
                <DatePicker TValue="DateTime" Picker="@DatePickerType.Date" @bind-Value="editCache[data.Id].data.Date" />
            }
        </PropertyColumn>
        <PropertyColumn Property="c => c.Description" Title="Description">
            @if (!editCache[data.Id].edit)
            {
                @data.Description
            }
            else
            {
                <Input @bind-Value="editCache[data.Id].data.Description" />
            }
        </PropertyColumn>
        <PropertyColumn Property="c => c.ExpenseCategory" Title="Category" Filters="_categoryFilters!" FilterMultiple="false"
                        OnFilter="(value,category)=>category!.StartsWith(value!)">
            @if (!editCache[data.Id].edit)
            {
                @data.ExpenseCategory
            }
            else
            {
                <Select Mode="default"
                        DataSource="categories"
                @bind-Value="editCache[data.Id].data.ExpenseCategoryId"
                        LabelName="@nameof(ExpenseCategory.Name)"
                        ValueName="@nameof(ExpenseCategory.Id)">
                </Select>
            }
        </PropertyColumn>
        <PropertyColumn Property="c => c.Amount" Title="Amount" Sortable>
            @if (!editCache[data.Id].edit)
            {
                @data.Amount
            }
            else
            {
                <Input @bind-Value="editCache[data.Id].data.Amount" />
            }
        </PropertyColumn>
        <PropertyColumn Property="c => c.CurrencyName" Title="Currency" Filters="_currencyFilters!" FilterMultiple="false"
                        OnFilter="(value,currency)=>currency!.StartsWith(value!)">
            @if (!editCache[data.Id].edit)
            {
                @data.CurrencyName
            }
            else
            {
                <Select Mode="default"
                        DataSource="currencies"
                @bind-Value="editCache[data.Id].data.CurrencyId"
                        LabelName="@nameof(Currency.Name)"
                        ValueName="@nameof(Currency.Id)">
                </Select>
            }
        </PropertyColumn>
        <ActionColumn Title="Action">
            @if (!editCache[data.Id].edit)
            {
                <div style="display: flex; align-items: flex-end;">
                    <span class="material-symbols-outlined" @onclick="() => StartEdit(data.Id)">
                        edit
                    </span>
                    <Popconfirm Title="Sure to delete?"
                                OnConfirm="() => DeleteRecord(data.Id)"
                                OkText="Yes"
                                CancelText="No">
                        <span class="material-symbols-outlined" style="margin-left: 5px;">
                            delete
                        </span>
                    </Popconfirm>

                </div>
            }
            else
            {
                <span class="material-symbols-outlined" @onclick="() => SaveEdit(data.Id)">
                    done
                </span>
                <Popconfirm Title="Sure to cancel?"
                            OnConfirm="() => CancelEdit(data.Id)"
                            OkText="Yes"
                            CancelText="No">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </Popconfirm>
            }
        </ActionColumn>
    </ChildContent>
</Table>


@code {

    Variant variant = Variant.Outlined;

    private CustomAuthenticationStateProvider? customAuthStateProvider = null;

    private bool _visibleForm = false;
    private bool _visibleButton = true;

    private List<ExpenseCategory>? categories = null;
    private List<Currency>? currencies = null;
    private List<TableFilter<string>>? _categoryFilters = null;
    private List<TableFilter<string>>? _currencyFilters = null;
    private IDictionary<int, (bool edit, ExpenseData data)> editCache = new Dictionary<int, (bool edit, ExpenseData data)>();
    private List<ExpenseData>? listOfData = new();

    private CreateRequest model = new CreateRequest() { Description = "Some text"};

    private bool ValidateCategoryId(int categoryId)
    {
        return categoryId != 0;
    }
    private bool ValidateCurrencyId(int currencyId)
    {
        return currencyId != 0;
    }

    private async Task OnSubmit(CreateRequest model)
    {
        var authState = await customAuthStateProvider!.GetAuthenticationStateAsync();
        var currentUserLogin = authState?.User.Identities?.First()?.Claims?.FirstOrDefault(item => item.Type.Contains("emailaddress"))?.Value;
        model.UserLogin = currentUserLogin;
        var response  = await Http.PostAsJsonAsync("api/expense/create", model);
        
        if (response.IsSuccessStatusCode)
        {
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Success Summary", Detail = "Record was successfuly added", Duration = 4000 });
        }
        else
        {
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Error Summary", Detail = "Record wasn't successfuly added", Duration = 4000 });
        }
        
        CloseForm();
    }

    private void StartEdit(int id)
    {
        var data = editCache[id];
        editCache[id] = (true, data.data with { }); // add a copy in cache
    }

    private void CancelEdit(int id)
    {
        var data = listOfData!.First(item => item.Id == id);
        editCache[id] = (false, data); // recovery
    }

    private async Task SaveEdit(int id)
    {
        editCache[id].data.ExpenseCategory = categories!.First(category => category.Id == editCache[id].data.ExpenseCategoryId).Name;
        editCache[id].data.CurrencyName = currencies!.First(currency => currency.Id == editCache[id].data.CurrencyId).Name;

        var index = listOfData!.FindIndex(item => item.Id == id);
        var expenseRecord = editCache[id].data;

        var response = await Http.PutAsJsonAsync("api/expense/change", expenseRecord);

        if (response.IsSuccessStatusCode)
        {
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Success Summary", Detail = "Record was successfuly updated", Duration = 4000 });

            listOfData[index] = editCache[id].data; // apply the copy to data source
            editCache[id] = (false, listOfData[index]); // don't affect rows in editing
        }
        else
        {
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Error Summary", Detail = "Record wasn't successfuly updated", Duration = 4000 });
            CancelEdit(id);
        }
    }

    private async Task DeleteRecord(int id)
    {
        var expenseRecord = listOfData!.First(item => item.Id == id);
        var index = expenseRecord.Id;

        var response = await Http.PostAsJsonAsync($"api/expense/delete", new DeleteRequest { Id = index });

        if (response.IsSuccessStatusCode)
        {
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Success Summary", Detail = "Record was successfuly removed", Duration = 4000 });

            editCache.Remove(id);

            listOfData!.Remove(expenseRecord!);
        }
        else
        {
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Error Summary", Detail = "Record wasn't successfuly removed", Duration = 4000 });
        }
    }

    private void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);
    }

    private void ShowForm()
    {
        model = new CreateRequest() { Description = "Some text" };
        _visibleForm = true;
        _visibleButton = false;
    }

    private void CloseForm()
    {
        _visibleForm = false;
        _visibleButton = true;
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        customAuthStateProvider = (CustomAuthenticationStateProvider)authenticationStateProvider;
        var token = await customAuthStateProvider.GetToken();
        var authState = await customAuthStateProvider.GetAuthenticationStateAsync();
        var userLogin = authState?.User.Identities?.First()?.Claims?.FirstOrDefault(item => item.Type.Contains("emailaddress"))?.Value;

        if (!string.IsNullOrWhiteSpace(token))
        {
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("bearer", token);
            GetListRequest request = new GetListRequest { UserLogin = userLogin };

            var response = await Http.PostAsJsonAsync("api/expense/list", request);
            var content = await response.Content.ReadAsStringAsync();

            listOfData = JsonConvert.DeserializeObject<List<ExpenseData>>(content);

            categories = await Http.GetFromJsonAsync<List<ExpenseCategory>>("api/expense/categories")!;
            currencies = await Http.GetFromJsonAsync<List<Currency>>("api/currency/list")!;

            listOfData?.ForEach(item =>
            {
                editCache[item.Id] = (false, item);
            });

            _categoryFilters = categories?.Select(category => new TableFilter<string>() { Text = category.Name, Value = category.Name }).ToList();
            _currencyFilters = currencies?.Select(category => new TableFilter<string>() { Text = category.Name, Value = category.Name }).ToList();
        }
        else
        {
            navManager.NavigateTo("/login");
            return;
        }
    }
}