@page "/incomes"
@attribute [Authorize(Roles = "Customer")]

@using FinanceDashboard.Shared.DTO;
@using FinanceDashboard.Client.Authentication;
@using FinanceDashboard.Shared;
@using System.Net.Http.Headers;
@using FinanceDashboard.Shared.Enums;
@using FinanceDashboard.Shared.Models;
@using Newtonsoft.Json;
@using System.Text.Json;
@using System.ComponentModel.DataAnnotations;
@using System.ComponentModel;
@using Radzen;
@using FinanceDashboard.Shared.DTO.Income;

@inject HttpClient Http
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navManager
@inject Radzen.NotificationService NotificationService

<h1>Incomes</h1>

<RadzenButton Style="margin-bottom:8px; margin-top:5px;" Visible="_visibleButton" ButtonStyle="ButtonStyle.Success" Text="Add Income" Click="ShowForm"></RadzenButton>

<div class="add-record-form">
    <RadzenTemplateForm TItem="CreateRequest" Data=@model Submit=@OnSubmit Visible="_visibleForm">
        <RadzenStack Gap="1rem" Class="rz-px-0 rz-py-12">
            <RadzenFormField Text="Date" Variant="@variant">
                <ChildContent>
                    <RadzenDatePicker Name="Date" @bind-Value="@model.Date" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="Date" Text="Date is required." />
                </Helper>
            </RadzenFormField>

            <RadzenFormField Text="Description" Variant="@variant">
                <ChildContent>
                    <RadzenTextBox Name="Description" @bind-Value="@model.Description" />
                </ChildContent>
            </RadzenFormField>

            <RadzenFormField Text="Amount" Variant="@variant">
                <ChildContent>
                    <RadzenNumeric Min=1 ShowUpDown="false" Name="Amount" @bind-Value="@model.Amount" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="Amount" Text="Amount is required." />
                </Helper>
            </RadzenFormField>

            <RadzenFormField Text="Currency" Variant="@variant">
                <ChildContent>
                    <RadzenDropDown Name="Currency" @bind-Value="@model.CurrencyId" Data=@currencies TextProperty="Name" ValueProperty="Id" />
                </ChildContent>
                <Helper>
                    <RadzenCustomValidator Component="Currency" Validator="@(() => ValidateCurrencyId(model.CurrencyId))" Text=" Currency is required." />
                </Helper>

            </RadzenFormField>
            <RadzenButton ButtonStyle="ButtonStyle.Success" Shade="Shade.Light" ButtonType="Radzen.ButtonType.Submit" Text="Submit"></RadzenButton>
            <RadzenButton Click="CloseForm" ButtonStyle="ButtonStyle.Primary" Shade="Shade.Lighter" Text="Cancel"></RadzenButton>
        </RadzenStack>
    </RadzenTemplateForm>
</div>

<Table Responsive="true" DataSource="listOfData" TItem="IncomeData" RowClassName="@(_=>"editable-row")" Bordered TableLayout="fixed">
    <ChildContent Context="data">
        <PropertyColumn Property="c => c.Date" Title="Date" Sortable>
            @if (editCache.ContainsKey(data.Id))
            {
                @if (!editCache[data.Id].edit)
                {
                    @data.Date.ToString("D")
                }
                else
                {
                    <DatePicker TValue="DateTime" Picker="@DatePickerType.Date" @bind-Value="editCache[data.Id].data.Date" />
                }
            }
        </PropertyColumn>
        <PropertyColumn Property="c => c.Description" Title="Description">
            @if (editCache.ContainsKey(data.Id))
            {
                @if (!editCache[data.Id].edit)
                {
                    @data.Description
                }
                else
                {
                    <Input @bind-Value="editCache[data.Id].data.Description" />
                }
            }
        </PropertyColumn>
        <PropertyColumn Property="c => c.Amount" Title="Amount" Sortable>
            @if (editCache.ContainsKey(data.Id))
            {
                @if (!editCache[data.Id].edit)
                {
                    @data.Amount.ToString("F2")
                }
                else
                {
                    <Input @bind-Value="editCache[data.Id].data.Amount" />
                }

            }
        </PropertyColumn>
        <PropertyColumn Property="c => c.Currency" Title="Currency" Filters="_currencyFilters!" FilterMultiple="false"
                        OnFilter="(value,currency)=>currency!.StartsWith(value!)">
            @if (editCache.ContainsKey(data.Id))
            {
                @if (!editCache[data.Id].edit)
                {
                    @data.Currency
                }
                else
                {
                    <Select Mode="default"
                            DataSource="currencies"
                            @bind-Value="editCache[data.Id].data.CurrencyId"
                            LabelName="@nameof(Currency.Name)"
                            ValueName="@nameof(Currency.Id)">
                    </Select>
                }
            }
        </PropertyColumn>
        <ActionColumn Title="Action">
            @if (editCache.ContainsKey(data.Id))
            {
                @if (!editCache[data.Id].edit)
                {
                    <div style="display: flex; align-items: flex-end;">
                        <span class="material-symbols-outlined" @onclick="() => StartEdit(data.Id)">
                            edit
                        </span>
                        <Popconfirm Title="Sure to delete?"
                                    OnConfirm="() => DeleteRecord(data.Id)"
                                    OkText="Yes"
                                    CancelText="No">
                            <span class="material-symbols-outlined" style="margin-left: 5px;">
                                delete
                            </span>
                        </Popconfirm>

                    </div>
                }
                else
                {
                    <span class="material-symbols-outlined" @onclick="() => SaveEdit(data.Id)">
                        done
                    </span>
                    <Popconfirm Title="Sure to cancel?"
                                OnConfirm="() => CancelEdit(data.Id)"
                                OkText="Yes"
                                CancelText="No">
                        <span class="material-symbols-outlined">
                            close
                        </span>
                    </Popconfirm>
                }
            }
        </ActionColumn>
    </ChildContent>
</Table>


@code {
    Variant variant = Variant.Outlined;

    private bool ValidateCategoryId(int? categoryId)
    {
        return categoryId != null;
    }
    private bool ValidateCurrencyId(int? currencyId)
    {
        return currencyId != null;
    }

    async Task OnSubmit(CreateRequest model)
    {
        model.UserLogin = userLogin;
        var response  = await Http.PostAsJsonAsync("api/income/create", model);

        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            var recordId = JsonConvert.DeserializeObject<CreateResponse>(content)!.Id;
            var newRecord = new IncomeData
                {
                    Id = recordId,
                    Date = model.Date!.Value,
                    Description = model.Description,
                    Amount = Math.Round(model.Amount!.Value, 2),
                    Currency = ((Currencies)model.CurrencyId!.Value).ToString(),
                    CurrencyId = model.CurrencyId!.Value
                };

            listOfData!.Add(newRecord);
            editCache[newRecord.Id] = (false, newRecord);

            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Success Summary", Detail = "Record was successfuly added", Duration = 4000 });
        }
        else
        {
            var errorMessage = await response.Content.ReadAsStringAsync();
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Error Summary", Detail = errorMessage, Duration = 4000 });
        }

        CloseForm();
    }

    private bool _visibleForm = false;
    private bool _visibleButton = true;

    private List<Currency>? currencies;
    private List<TableFilter<string>>? _currencyFilters;
    private CreateRequest model = new CreateRequest() { Description = "Some text"};
    private IDictionary<int, (bool edit, IncomeData data)> editCache = new Dictionary<int, (bool edit, IncomeData data)>();
    private List<IncomeData>? listOfData;
    private string? userLogin;

    private void StartEdit(int id)
    {
        var data = editCache[id];
        editCache[id] = (true, data.data with { }); // add a copy in cache
    }

    private void CancelEdit(int id)
    {
        var data = listOfData!.First(item => item.Id == id);
        editCache[id] = (false, data); // recovery
    }

    private async Task SaveEdit(int id)
    {
        editCache[id].data.Currency = currencies!.First(currency => currency.Id == editCache[id].data.CurrencyId).Name;

        var index = listOfData!.FindIndex(item => item.Id == id);
        var incomeRecord = editCache[id].data;

        if (incomeRecord.Amount <= 0)
        {
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Error Summary", Detail = "Amount can not be equal to 0 or less", Duration = 4000 });

            return;
        }

        var request = new UpdateRequest
            {
                Id = incomeRecord.Id,
                Date = incomeRecord.Date,
                Description = incomeRecord.Description,
                Amount = Math.Round(incomeRecord.Amount, 2),
                CurrencyId = incomeRecord.CurrencyId
            };

        var response = await Http.PostAsJsonAsync("api/income/update", request);

        if (response.IsSuccessStatusCode)
        {
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Success Summary", Detail = "Record was successfuly updated", Duration = 4000 });

            editCache[id].data.Amount = Math.Round(editCache[id].data.Amount, 2);
            listOfData[index] = editCache[id].data; // apply the copy to data source
            editCache[id] = (false, listOfData[index]); // don't affect rows in editing
        }
        else
        {
            var errorMessage = await response.Content.ReadAsStringAsync();
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Error Summary", Detail = errorMessage, Duration = 4000 });
            CancelEdit(id);
        }
    }

    private async Task DeleteRecord(int id)
    {
        var incomeRecord = listOfData!.First(item => item.Id == id);
        var index = incomeRecord.Id;
        var response = await Http.PostAsJsonAsync($"api/income/delete", new DeleteRequest { Id = index });

        if (response.IsSuccessStatusCode)
        {
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Success Summary", Detail = "Record was successfuly removed", Duration = 4000 });

            editCache.Remove(id);

            listOfData!.Remove(incomeRecord!);
        }
        else
        {
            var errorMessage = await response.Content.ReadAsStringAsync();
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Error Summary", Detail = errorMessage, Duration = 4000 });
        }
    }

    private void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);
    }

    private void ShowForm()
    {
        model = new CreateRequest() { Description = "Some text" };
        _visibleForm = true;
        _visibleButton = false;
    }

    private void CloseForm()
    {
        _visibleForm = false;
        _visibleButton = true;
    }


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var customAuthStateProvider = (CustomAuthenticationStateProvider)authenticationStateProvider;
        var token = await customAuthStateProvider.GetToken();
        var authState = await customAuthStateProvider.GetAuthenticationStateAsync();
        userLogin = authState?.User.Identities?.First()?.Claims?.FirstOrDefault(item => item.Type.Contains("emailaddress"))?.Value;

        if (!string.IsNullOrWhiteSpace(token))
        {
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("bearer", token);
            GetListRequest requestoObj = new GetListRequest { UserLogin = userLogin };

            var response = await Http.PostAsJsonAsync("api/income/list", requestoObj);
            var content = await response.Content.ReadAsStringAsync();

            listOfData = JsonConvert.DeserializeObject<List<IncomeData>>(content);
            currencies = await Http.GetFromJsonAsync<List<Currency>>("api/currency/list");

            listOfData?.ForEach(item =>
            {
                editCache[item.Id] = (false, item);
            });

            _currencyFilters = currencies?.Select(category => new TableFilter<string>() { Text = category.Name, Value = category.Name }).ToList();
        }
        else
        {
            await customAuthStateProvider.UpdateAuthenticationState(null);
            navManager.NavigateTo("/login", true);
        }
    }
}